.listContainer {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.listContainer ul {
  padding: 0;
  list-style-type: none;
}

.listContainer li {
  margin: 1rem;
}

.listContainer button {
  padding: 0.2rem 1.5rem;
  margin: 0px 1rem;
  border-radius: 0.3rem;
  border: none;
}

